
.orderForm
    // &_beforeCenter_bgc
    //     grid-row: 9/10
    //     grid-column: 1/center-start
    // &_afterCenter_bgc
    //     grid-row: 9/10
    //     grid-column: center-end/-1
    // &_beforeCenter_bgc, &_afterCenter_bgc
    //    background-color: $bgc-color1
//     grid-row: 9/10
//     grid-column: center-start/center-end
    // background-color: $bgc-color1

.title
    font-size: 6rem
    text-transform: uppercase
    font-weight: 600
    color:$primary-color
.description
    font-size: 1.8rem
    color:$primary-color
    
.submit
    height: 6rem
    width: 56rem
    text-transform: uppercase
    @include respond(phone)
        width: 100%

.input
    height: 6rem
    width: 56rem
    @include respond(phone)
        width: 100%

.message
    // width: 40rem
        