
.header 
    grid-row: 1/2
    grid-column: 1/-1
    // background-color: #f5a3a3
    display: block
    position: relative
    font-weight: 400
    padding: 2rem
    z-index: 1

    &_bgVideo
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: -1
        object-fit: cover
        filter: brightness(0.5)

    &_box
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        text-align: center 
        width: 100%
        display: block
        padding: 0 6rem
    &_button_request
        margin-top: 1rem
        padding: 1.5rem 15rem
        font-size: 2rem
        margin-top: 2rem
        @include respond(phone)
            width: 100%
            padding: 2.4rem 1rem
            font-size: 2.4rem
    &_button_tg
        font-size: 2rem
        margin-top: 2rem
        width: 35rem
        height: 5rem
        @include respond(phone)
            width: 80%
            height: 7rem
            font-size: 2rem
    &_fader
        font-size: 6rem
        font-weight: 500
        color: $primary-color
        text-transform: uppercase
        margin-top: 1rem
    &_marked
        color: $third-color

    &_description
        margin-top: 1rem

.logo
    position: absolute
    top: 1rem
    left: 1rem
    height: 6rem

.title_second
    text-transform: uppercase
    color: $primary-color
    font-size: 2rem
    font-weight: normal
    @include respond(tab-port)
        font-size: 1.6rem
    
.menu
    // background-color:#f5a3a3
    background: none
    text-transform: uppercase
// .menu_top
//     z-index: 5

@media only screen and (max-width: 600px)
    .menu_top
        display: none

@media only screen and (min-width: 600px)
    .menu_icon
        display: none
