
.slick-slide 
 transition: all 0.4s ease-in-out

.slick-slide img 
 transition: all 0.4s ease-in-out

.slick-center 
 transform: scaleY(1.1)

.slick-next, .slick-prev
 z-index: 5

.slick-next
  right: 1.5rem

.slick-prev
  left: 1.5rem
